APP_DEBUG = true

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[LANG]
default_lang = zh-cn

[DATABASE]
TYPE = mysql
HOSTNAME = 192.168.0.153
DATABASE = ba_preview
USERNAME = ba_preview
PASSWORD = Wrd2CdwHwPteSefm
HOSTPORT = 3306
PREFIX = ba_
CHARSET = utf8mb4
DEBUG = true
