<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$seoTitle}</title>
    <meta name="description" content="{$seoDescription}" />
    <meta name="keywords" content="{$seoKeywords}" />
    <link rel="icon" href="{$icoImage}" mce_href="{$icoImage}" type="image/x-icon" />

    <!--head begin-->
    {include file='web/home/model/head' /}
    <!--head end-->
</head>
<body>>
<!--tops-->
{include file='web/home/model/top' /}
<!--tops end-->
{__CONTENT__}
<!--foot-->
{include file='web/home/model/foot' /}
<!--foot end-->
</body>
</html>