<div class="hei80"></div>
<section class="page_about">
    <!--start 大图-->
    <div class="yz-gy-banner1-img">
        <img alt="{$catalog.title}" src="{$catalog['field']['banner']}"/>
        <div class="yz-gy-banner1-t">
            <p>{$catalog['field']['bannerDesc']}</p>
            <h2>{$catalog['field']['bannerTitle']}</h2>
        </div>
    </div>
    <!--start 大图 end-->
    <!--公司介绍-->
    <div class="yz-gy-banner">
        <div class="yz-gy-banner1">
            <h1>公司介绍</h1>
            <h5>我们一直走在技术的前沿，不断增强自身</h5>
            <p>湖南聚之唯网络科技有限公司是移动互联网平台定制整体解决方案服务商，成立于2016年。</p>
            <p>聚之唯通过独创的移动端技术和平台模式策划分析为企业打造能实战能落地的移动互联网平台定制化整体解决方案。主营业务主要包括，移动端技术的定制开发（Ai应用、数字人、APP、物联网平台开发、微信小程序开发、企业应用管理系统开发、电商平台开发、H5游戏开发、品牌营销网站等）；自主研发的行业解决方案（教育课程+直播解决方案、餐饮小程序解决方案、提货卡系统、多门店零售小程序、社区团购系统），以及专业的网络推广服务和自媒体运营。
            </p>
            <p>目前已服务1200+客户，客户遍布全国，包括浙江大学、湖南省政协融媒体中心、湖南广播电视台、国网电力、岳麓峰会、佳贝艾特、星港家居、体育局、团省委、懒猫旅行和明珠旅游、益丰大药房、王小贱、伊百丽、北京三元等知名客户，涵盖医疗、教育、家居、旅游、农业、零售、医美、母婴等多个行业，并于2017年成为湖南首批“小程序”受邀内测开发商，2020成为湖南直播联盟首批会员单位及华为云精英服务商，并逐渐成为湖南软件定制开发行业口碑标杆企业。
            </p>
        </div>
        <div class="yz-gy-banner2">
            <div class="case_banner">
                <div class="case_num clearfix" id="case_num">
                    <div class="num_area">
                        <div class="num_box">
                            <span class="timer" id="count-number" data-to="10" data-speed="1500">10</span>
                            <em class="num_line"></em>
                            <p class="num_des">10年高端项目定制经验</p>
                        </div>
                    </div>
                    <div class="num_area">
                        <div class="num_box">
                            <span class="timer" id="count-number" data-to="30" data-speed="1500">30</span>
                            <em class="num_line"></em>
                            <p class="num_des">30+政府单位的认可</p>
                        </div>
                    </div>
                    <div class="num_area">
                        <div class="num_box">
                            <span class="timer" id="count-number" data-to="60" data-speed="1500">60</span>
                            <em class="num_line"></em>
                            <p class="num_des">60+上市公司的选择</p>
                        </div>
                    </div>
                    <div class="num_area">
                        <div class="num_box">
                            <span class="timer" id="count-number" data-to="1200" data-speed="1500">1000</span>
                            <em class="num_line"></em>
                            <p class="num_des">1200+品牌客户的选择</p>
                        </div>
                    </div>
                </div>
                <!--case_num end-->
                <script>
                    require(["jquery", "num"], function ($) {
                        // $(document).ready(function () {
                        //     $("#case_num").owlCarousel({
                        //         autoPlay: 3000,
                        //         items: 4,
                        //     });
                        // });
                    })
                </script>
            </div>
        </div>
    </div>
    <!--公司介绍end-->
    <!--企业文化-->
    <div class="yz-gy-banner3">
        <div class="yz-gy-banner3-in">
            <div class="yz-gy-banner3-intop">
                <h3>企业文化</h3>
                <p>我们一直走在技术的前沿，不断增强自身</p>
            </div>
            <div class="yz-gy-banner3-inbot">
                <ul>
                    <li>
                        <a href="#0">
                            <div></div>
                            <h4>我们的定位</h4>
                            <p>移动互联网平台定制整体解决服务商
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <div></div>
                            <h4>我们的使命</h4>
                            <p>让企业通过移动互联网更具核心竞争力</p>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <div></div>
                            <h4>我们的愿景</h4>
                            <p>成为定制开发行业口碑标杆企业</p>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <div></div>
                            <h4>我们的价值观</h4>
                            <p>高效 品质 激情 创新 诚信 共赢</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--企业文化 end-->
    <!--我们的优势-->
    <div class="yz-gy-banner4">
        <div class="yz-gy-banner4-in">
            <div class="yz-gy-banner4-intop">
                <h3>我们的优势</h3>
                <p>自主开发，底层架构牢固，性能强大，安全，稳定，易于迭代扩展</p>
            </div>
            <div class="yz-gy-banner4-inbot">
                <ul>
                    <li>
                        <a>
                            <div class="picdiv">

                            </div>
                            <div class="txt">
                                <h4>营销模式策划
                                </h4>
                                <p>10年互联行业经验顾问<br />
                                    分析项目可行性<br />
                                    提供完整营销技术解决方案<br />
                                    免费提供电商营销思路和模式
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="picdiv"></div>
                            <div class="txt">
                                <h4>自营+实战经验
                                </h4>
                                <p>经历过500+定制电商项目<br />
                                    自营社区团购“多快好省”流水超800W<br />
                                    开发平台总流水超3000W
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="picdiv"></div>
                            <div class="txt">
                                <h4>高并发处理技术
                                </h4>
                                <p>大数据处理能力<br />
                                    缓存机制解决高并发问题<br />
                                    数据库+存储+代码分离部署机制<br />
                                    CDN负载均衡
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="picdiv"></div>
                            <div class="txt">
                                <h4>掌握物联网技术
                                </h4>
                                <p>智能AI算法<br />
                                    人脸识别技术<br />
                                    文字语音智能识别<br />
                                    可接入传感器、智能硬件对接
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="picdiv"></div>
                            <div class="txt">
                                <h4>超100项检测标准
                                </h4>
                                <p>严格按照内部质检标准进行测验<br />
                                    提供检测和整改报告<br />
                                    达到用户流畅体验度
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="picdiv"></div>
                            <div class="txt">
                                <h4>安全防护机制
                                </h4>
                                <p>安全支付防护技术防CC攻击，篡改和盗链<br />
                                    数据传输加密算法<br />
                                    云服务器安全防护机制<br />
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--我们的优势-->
    <!--团队风采-->
    <div class="yz-gy-banner5">
        <div class="yz-gy-banner5-in">
            <div id="slideBox-gy" class="slideBox-gy">
                <div class="hd">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="bd">
                    <ul>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/23.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/22.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/21.jpg" />
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/20.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/19.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/18.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/17.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/16.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/15.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/14.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <img alt="" src="/cms/home/webimages/team/13.jpg" />
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>
            <script id="jsID" type="text/javascript">
                require(["jquery", "superSlide"], function () {
                    var ary = location.href.split("&");
                    jQuery(".slideBox-gy").slide({
                        mainCell: ".bd ul",
                        effect: "left",
                        autoPlay: true,
                        trigger: "click"
                    });
                })
            </script>
        </div>
    </div>

    <!-- 2022新增发展历程板块开始 -->
    <div class="fazhan">
        <div class="contentbox">
            <div class="titlebox">
                <div class="atitle">发展历程</div>
                <div class="btitle">十年技术沉淀，我们不忘初心</div>
            </div>
            <div class="fz_con">
                <div class="left_con">
                    <div class="picbox">
                        <div class="pic" style="background-image: url(/cms/home/webimages/team/16.jpg)"></div>
                    </div>
                    <div class="txt">
                        <div class="t1">2022年</div>
                        <div class="t2">逐步成长为湖南地区定制行业口碑标杆企业</div>
                    </div>
                </div>
                <div class="right_con sys_scrollBox">
                    <div class="item">
                        <div class="txt">
                            <div class="t1">2020年</div>
                            <div class="t2">加入湖南直播电商联盟，为扶贫电商平台开发小程序直播；成为华为云精英服务商，并获得2020年度“无限潜力奖”
                            </div>
                        </div>
                        <div class="dot"></div>
                    </div>
                    <div class="item">
                        <div class="txt">
                            <div class="t1">2019年</div>
                            <div class="t2">湖南首批研发私域直播电商技术并实战运营的公司
                            </div>
                        </div>
                        <div class="dot"></div>
                    </div>
                    <div class="item">
                        <div class="txt">
                            <div class="t1">2018年</div>
                            <div class="t2">湖南最早开发百度小程序的公司并成为第一家实现 5网同步的公司
                            </div>
                        </div>
                        <div class="dot"></div>
                    </div>
                    <div class="item">
                        <div class="txt">
                            <div class="t1">2017年</div>
                            <div class="t2">为全国首批受邀参与小程序内测的开发公司
                            </div>
                        </div>
                        <div class="dot"></div>
                    </div>
                    <div class="item">
                        <div class="txt">
                            <div class="t1">2016年</div>
                            <div class="t2">聚之唯成立
                            </div>
                        </div>
                        <div class="dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2022新增发展历程板块结束 -->

    <!--合作伙伴-->
    <div class="yz-gy-banner6">
        <div class="yz-gy-banner6-in">
            <div class="yz-gy-banner6-intop">
                <h3>合作伙伴</h3>
                <p>我们一直走在技术的前沿，不断增强自身</p>
            </div>
            <div class="yz-gy-banner6-inbot">
                <ul>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/1a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/1a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/2a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/2a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/3a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/3a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/4a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/4a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/5a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/5a.jpg" />
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/6a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/6a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/7a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/7a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/8a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/8a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/9a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/9a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/10a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/10a.jpg" />
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/11a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/11a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/12a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/12a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/13a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/13a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/14a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/14a.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" title="合作伙伴">
								<span>
									<img alt="" src="/cms/home/webimages/aboutlogo/15a.jpg" />
								</span>
                            <img alt="" src="/cms/home/webimages/aboutlogo/15a.jpg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
