<!-- 主页添加active -->
<script type="text/javascript">
    require(["jquery", "swiper"], function ($, Swiper) {
        // 3d轮播图
        var sw1 = new Swiper(".page_index .new_news .swiper", {
            loop: true,
            autoplay: {
                delay: 5000,
            },
            watchSlidesProgress: true,
            slidesPerView: 5,
            centeredSlides: true,
            navigation: {
                nextEl: '.new_news .swiper .next',
                prevEl: '.new_news .swiper .prev',
            },
            on: {
                progress: function (progress) {
                    for (i = 0; i < this.slides.length; i++) {
                        var slide = this.slides.eq(i);
                        var slideProgress = this.slides[i].progress;
                        modify = 1;
                        if (Math.abs(slideProgress) > 1) {
                            modify = (Math.abs(slideProgress) - 1) * 0.3 + 1;
                        }
                        translate = slideProgress * 80 + 'px';
                        scale = 1 - Math.abs(slideProgress) / 5;
                        opacity = 1 - Math.abs(slideProgress) / 3;
                        zIndex = 99 - Math.abs(Math.round(slideProgress));
                        slide.transform('translateX(' + translate + ') scale(' + scale + ')');
                        slide.css('zIndex', zIndex);
                        slide.css('opacity', 1);
                        if (Math.round(Math.abs(slideProgress)) <= 2) {
                            slide.find(".pic").css('opacity', 1);
                        } else if (Math.round(Math.abs(slideProgress)) > 2) {
                            slide.css('opacity', 0);
                        }
                        if (Math.round(slideProgress) > 0) {
                            slide.children().transform('rotateY(10deg)');
                        } else if (Math.round(slideProgress) < 0) {
                            slide.children().transform('rotateY(-10deg)');
                        } else {
                            slide.children().transform('rotateY(0deg)');
                        }
                    }
                },
                slideChangeTransitionStart: function(){
                    for (var i = 0; i < this.slides.length; i++) {
                        var slide = this.slides.eq(i);
                        slide.css('transition', 'all .3s');
                    }
                },
                slideChangeTransitionEnd: function(){
                    for (var i = 0; i < this.slides.length; i++) {
                        var slide = this.slides.eq(i);
                        slide.css('transition', '');
                    }
                },
            }
        });
        // 添加类名方法封装
        var addCla = function (cla, addcla, fn) {
            var $name = $(cla);
            $name.mouseover(function () {
                var $this = $(this);
                $this.siblings().removeClass(addcla);
                $this.addClass(addcla);
                fn && fn($this);
            });
        };
        // 产品中心板块添加类名
        addCla(".new_index_pro .item", "cur");
        // 方案板块添加类名
        addCla(".fangleft .item", "cur", function ($this) {
            var $fangright = $($(".fangright")[$this.index()]);
            $fangright.siblings().removeClass("active");
            $fangright.addClass("active");

            var $fangright_a = $($(".fangright_a")[$this.index()]);
            $fangright_a.siblings().removeClass("active");
            $fangright_a.addClass("active");
        });
        // 优势板块添加类名
        addCla(".advantage_list .item", "cur", function ($this) {
            var $advantage_desc = $($(".advantage_desc")[$this.index()]);
            $advantage_desc.siblings().removeClass("active");
            $advantage_desc.addClass("active");
        });
        // 经典案例添加类名
        addCla(".new_index_cases .sys_catebox1 a", "active", function ($this) {
            var $anlibox_desc = $($(".anlibox_desc")[$this.index()]);
            $anlibox_desc.siblings().removeClass("cur");
            $anlibox_desc.addClass("cur");
        });
        // 新闻动态添加类名
        addCla(".new_news .sys_catebox1 a", "active", function ($this) {
            var $newsbox = $($(".newsbox")[$this.index()]);
            $newsbox.siblings().removeClass("cur");
            $newsbox.addClass("cur");
        });

        // 解决方案板块item添加hover色块
        var $fangRightIcon = $(".fangright .iconlist .item");
        var $hoverBlock = $('<div class="hover_block"></div>');
        console.log($fangRightIcon.length);
        for(var i = 0; i < $fangRightIcon.length; i++) {
            $fangRightIcon[i].append($hoverBlock.clone()[0]);
        }
    })
</script>

<div class="page_index">
    <!--banner图-->
    <div class="new_index_banner">
        <div id="slideBox-index" class="slideBox-index new_slideBox_banner">
            <div class="hd">
                <ul>
                    {foreach :getSlides(1)->list as $item}
                        <li></li>
                    {/foreach}
                </ul>
            </div>
            <div class="bd">
                <ul>
                    {foreach :getSlides(1)->list as $item}
                        <li>
                            <a href="{$item->link}" target="_blank" title="{$item->title}"
                               style="background-image:url({$item->image});"></a>
                        </li>
                    {/foreach}
                </ul>
            </div>
            <a class="prev" href="javascript:void(0)"></a>
            <a class="next" href="javascript:void(0)"></a>
        </div>
    </div>
    <!--产品中心-->
    <div class="new_index_pro">
        <div class="new_index_title">
            <h3>{:getSlides(2)->name}</h3>
            <p>{:getSlides(2)->remark}</p>
        </div>
        <div class="contentbox itembox">
            {foreach :getSlides(2)->list as $item}
                <a href="{$item->link}" title="{$item->title}" target="_blank" class="item">
                    <div class="picbox pro4">
                        <div class="pic" style="background-image: url({$item->image})"></div>
                        <div class="pic cur" style="background-image: url({$item->image})"></div>
                    </div>
                    <p class="itemtitle">{$item->title}</p>
                </a>
            {/foreach}
        </div>
        <div class="hei60"></div>
        <a href="{:getBlock('base')->kefu_link}" target="_blank" title="了解更多" class="btn">了解更多</a>
    </div>

    <!--解决方案-->
    <div class="new_index_fangan">
        <div class="new_index_title">
            <h3>个性化行业解决方案</h3>
            <p>针对行业特征及细分业务场景深度定制，一站式引领业务升级</p>
        </div>
        <div class="fanganbox">
            <div class="fangleft">
                <div class="item cur">
                    <div class="itemleft">
                        <div class="shuzi">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/01_w.png)"></div>
                        </div>
                        <div class="txt">教育直播<br>解决方案</div>
                    </div>
                    <div class="itemright"><img src="/cms/home/webimages/2022/fang_left.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="itemleft">
                        <div class="shuzi">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/02_w.png)"></div>
                        </div>
                        <div class="txt">社交电商<br>解决方案</div>
                    </div>
                    <div class="itemright"><img src="/cms/home/webimages/2022/fang_left.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="itemleft">
                        <div class="shuzi">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/03_w.png)"></div>
                        </div>
                        <div class="txt">礼品提货<br>解决方案</div>
                    </div>
                    <div class="itemright"><img src="/cms/home/webimages/2022/fang_left.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="itemleft">
                        <div class="shuzi">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/04_w.png)"></div>
                        </div>
                        <div class="txt">餐饮服务<br>解决方案</div>
                    </div>
                    <div class="itemright"><img src="/cms/home/webimages/2022/fang_left.png" alt="">
                    </div>
                </div>
            </div>
            <div class="fangright active">
                <div class="shuzi" style="background-image: url(/cms/home/webimages/2022/01.png)"></div>
                <div class="righttitle">教育直播解决方案</div>
                <div class="rightsub">为教育客户提供高可用，定制化的在线视频解决方案，满足各类教育直播场景，快速完成线下和线上直播需求。一站式互动教学服务
                    提升授课观感体验强大的在线直播授课功能，满足各行业教育、培训的多样化需求。</div>
                <div class="iconlist">
                    <div class="item">
                        <div class="picbox fang1">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon1.png)">
                            </div>
                        </div>
                        <div class="itemtitle">推流直播</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang2">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon2.png)">
                            </div>
                        </div>
                        <div class="itemtitle">多终端同步</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang3">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon3.png)">
                            </div>
                        </div>
                        <div class="itemtitle">名师授课</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang4">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon4.png)">
                            </div>
                        </div>
                        <div class="itemtitle">视频直播</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang1">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon5.png)">
                            </div>
                        </div>
                        <div class="itemtitle">电子白板</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang2">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon6.png)">
                            </div>
                        </div>
                        <div class="itemtitle">文件共享</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang3">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon7.png)">
                            </div>
                        </div>
                        <div class="itemtitle">实时互动</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang4">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon8.png)">
                            </div>
                        </div>
                        <div class="itemtitle">数据分析</div>
                    </div>
                </div>
                <div class="hzlist">
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_26.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_16.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_35.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_27.jpg)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fangright">
                <div class="shuzi" style="background-image: url(/cms/home/webimages/2022/02.png)"></div>
                <div class="righttitle">社交电商解决方案</div>
                <div class="rightsub">直播互动+线上购买+裂变活动+数据分析，低门槛高转化，助力企业快速实现私域流量变现，专业为企业提供直播电商定制开发+策划运营。</div>
                <div class="iconlist">
                    <div class="item">
                        <div class="picbox fang1">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon9.png)">
                            </div>
                        </div>
                        <div class="itemtitle">高效引流</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang2">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon10.png)">
                            </div>
                        </div>
                        <div class="itemtitle">营销转化</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang3">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon11.png)">
                            </div>
                        </div>
                        <div class="itemtitle">私域变现</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang4">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon12.png)">
                            </div>
                        </div>
                        <div class="itemtitle">商品推送</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang1">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon13.png)">
                            </div>
                        </div>
                        <div class="itemtitle">转化闭环</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang2">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon14.png)">
                            </div>
                        </div>
                        <div class="itemtitle">实时互动</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang3">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon15.png)">
                            </div>
                        </div>
                        <div class="itemtitle">强力吸粉</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang4">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon16.png)">
                            </div>
                        </div>
                        <div class="itemtitle">输出价值</div>
                    </div>
                </div>
                <div class="hzlist">
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_31.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_36.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_37.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_38.jpg)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fangright">
                <div class="shuzi" style="background-image: url(/cms/home/webimages/2022/03.png)"></div>
                <div class="righttitle">礼品提货解决方案</div>
                <div class="rightsub">基于微信小程序开发的提货卡提货系统，支持多门店自助提货与物流配送两种提货方式
                    支持提货券、电子券、优惠券、提货卡、等多种卡券使用的专业的提货卡提货系统。</div>
                <div class="iconlist">
                    <div class="item">
                        <div class="picbox fang1">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon17.png)">
                            </div>
                        </div>
                        <div class="itemtitle">在线提货</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang2">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon18.png)">
                            </div>
                        </div>
                        <div class="itemtitle">计划定制</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang3">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon19.png)">
                            </div>
                        </div>
                        <div class="itemtitle">客户管理</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang4">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon20.png)">
                            </div>
                        </div>
                        <div class="itemtitle">商品管理</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang1">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon21.png)">
                            </div>
                        </div>
                        <div class="itemtitle">可视库存</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang2">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon22.png)">
                            </div>
                        </div>
                        <div class="itemtitle">实时物流</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang3">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon23.png)">
                            </div>
                        </div>
                        <div class="itemtitle">便捷高效</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang4">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon24.png)">
                            </div>
                        </div>
                        <div class="itemtitle">品牌输出</div>
                    </div>
                </div>
                <div class="hzlist">
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_28.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_29.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_30.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_22.jpg)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fangright">
                <div class="shuzi" style="background-image: url(/cms/home/webimages/2022/04.png)"></div>
                <div class="righttitle">餐饮服务解决方案</div>
                <div class="rightsub">线上线下高效连通，提高餐厅营收能力，无缝连接商家与用户，满足商家堂食、外卖业务模式，助力线下门店服务升级，带来更优的消费体验。</div>
                <div class="iconlist">
                    <div class="item">
                        <div class="picbox fang1">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon25.png)">
                            </div>
                        </div>
                        <div class="itemtitle">极速下单</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang2">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon26.png)">
                            </div>
                        </div>
                        <div class="itemtitle">接单通知</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang3">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon27.png)">
                            </div>
                        </div>
                        <div class="itemtitle">引流获客</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang4">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon28.png)">
                            </div>
                        </div>
                        <div class="itemtitle">门店管理</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang1">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon29.png)">
                            </div>
                        </div>
                        <div class="itemtitle">数据分析</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang2">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon30.png)">
                            </div>
                        </div>
                        <div class="itemtitle">实时互动</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang3">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon31.png)">
                            </div>
                        </div>
                        <div class="itemtitle">电子大屏</div>
                    </div>
                    <div class="item">
                        <div class="picbox fang4">
                            <div class="pic"
                                 style="background-image: url(/cms/home/webimages/2022/fang_icon32.png)">
                            </div>
                        </div>
                        <div class="itemtitle">降低成本</div>
                    </div>
                </div>
                <div class="hzlist">
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_32.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_33.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_34.jpg)">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic"
                             style="background-image: url(/cms/home/webimages/logo/企业logo-220x100_08.jpg)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="fangright_a active">
                <a href="{$Categorys[5]['url']}" target="_blank" title="查看更多" class="btn">查看更多</a>
            </div>
            {/*<div class="fangright_a">
                <a href="{$Categorys[64]['url']&cc;" target="_blank" title="查看更多" class="btn">查看更多</a>
            </div>
            <div class="fangright_a">
                <a href="{$Categorys[88]['url']&cc;" target="_blank" title="查看更多" class="btn">查看更多</a>
            </div>
            <div class="fangright_a">
                <a href="{$Categorys[76]['url']&cc;" target="_blank" title="查看更多" class="btn">查看更多</a>
            </div>*/}
        </div>
    </div>
</div>