
<!-- 主页添加active -->
<script type="text/javascript">
    require(["jquery"], function ($) {
        // 添加类名方法封装
        let addCla = function (cla, addcla, fn) {
            let $name = $(cla);
            $name.mouseover(function () {
                let $this = $(this);
                $this.siblings().removeClass(addcla);
                $this.addClass(addcla);
                fn && fn($this);
            });
        };
        // 方案板块添加类名
        addCla(".fangleft .item", "cur", function ($this) {
            let $fangright = $($(".fangright")[$this.index()]);
            $fangright.siblings().removeClass("active");
            $fangright.addClass("active");

            let $fangright_a = $($(".fangright_a")[$this.index()]);
            $fangright_a.siblings().removeClass("active");
            $fangright_a.addClass("active");
        });
        // 优势板块添加类名
        addCla(".advantage_list .item", "cur", function ($this) {
            let $advantage_desc = $($(".advantage_desc")[$this.index()]);
            $advantage_desc.siblings().removeClass("active");
            $advantage_desc.addClass("active");
        });
        // 经典案例添加类名
        addCla(".new_index_cases .sys_catebox1 a", "active", function ($this) {
            let $anlibox_desc = $($(".anlibox_desc")[$this.index()]);
            $anlibox_desc.siblings().removeClass("cur");
            $anlibox_desc.addClass("cur");
        });
        // 新闻动态添加类名
        addCla(".new_news .sys_catebox1 a", "active", function ($this) {
            let $newsbox = $($(".newsbox")[$this.index()]);
            $newsbox.siblings().removeClass("cur");
            $newsbox.addClass("cur");
        });
        console.log(12313)
    })
</script>