@charset "utf-8";
@font-face{font-family:"iconfont";src:url('./iconfont/iconfont.woff2?t=1640670570885') format('woff2'),url('./iconfont/iconfont.woff?t=1640670570885') format('woff'),url('./iconfont/iconfont.ttf?t=1640670570885') format('truetype')}

.iconfont{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-shuzishurukuang:before {content: "\e69c";}
.icon-yanse1:before {content: "\e675";}
.icon-huadongduotu:before {content: "\e64a";}
.icon-shijian1:before {content: "\e8b8";}
.icon-a-wenjianjiawenjian:before {content: "\e726";}
.icon-lianjie:before {content: "\e600";}
.icon-chanpincanshu:before {content: "\e602";}
.icon-wenjian1:before {content: "\e64e";}
.icon-danhangshurukuang:before {content: "\e692";}
.icon-duohangshurukuang:before {content: "\e693";}
.icon-duoxuan_xuanzhong:before {content: "\e653";}
.icon-pingfen:before {content: "\e69d";}
.icon-bianhaodanhao:before {content: "\e690";}
.icon-cengji:before {content: "\e616";}
.icon-huakuai:before {content: "\e628";}
.icon-danxuankuang:before {content: "\e640";}
.icon-kaiguan:before {content: "\e662";}
.icon-fuwenbenbianjiqi_zhonghuaxian:before {content: "\e655";}
.icon-tupianpic:before {content: "\e7d0";}
.icon-xuanzeqi:before {content: "\e6bf";}
.icon-shuzu:before {content: "\e650";}
.icon-riqi:before {content: "\100d9";}
.icon-jiangxu3:before {content: "\e63a";}
.icon-caidan1:before {content: "\e608";}
.icon-caidan2:before {content: "\e632";}
.icon-xingzhuang-tupian:before {content: "\eb98";}
.icon-yinle:before {content: "\e607";}
.icon-huishouzhan:before {content: "\e61a";}
.icon-icon_shiyongwendang:before {content: "\eb91";}
.icon-quanbuwenjian:before {content: "\e6cb";}
.icon-wenjian:before {content: "\e627";}
.icon-shipin:before {content: "\e6ac";}
.icon-onekey:before {content: "\e60f";}
.icon-bobao:before {content: "\e671";}
.icon-caidanzuo01:before {content: "\e645";}
.icon-caidanyou:before {content: "\e619";}


.el-link-dialog .el-select,.el-link-dialog .el-input{width:385px}
.el-field .el-field-push{width: 200px;height: calc(100vh - 176px);overflow-y: auto;overflow-x:hidden;padding-right: 10px;}
.el-field .el-field-push::-webkit-scrollbar{width:5px}
.el-field .el-field-push::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,0)}
.el-field .el-field-push:hover::-webkit-scrollbar-thumb{background-color:#ccc}
.el-field .el-field-push .add-draggable{margin:0 -10px}
.el-field-move-item{width: 169px;text-align: center;cursor: move;overflow: hidden;border: 1px dashed #ccc;padding: 10px;margin: 10px;}
.el-field-move-item .iconfont{margin-bottom: 10px;display: block;font-size: 20px;color: #333;height: 20px;line-height: 20px;}
.el-field-move-item .title{height: 20px;line-height: 20px;overflow: hidden;}
.el-field .el-field-content{width:calc(100% - 200px);height: calc(100vh - 176px);overflow-y: auto;overflow-x:hidden;padding-left: 10px;}
.el-field .el-field-content.notset{height:auto}
.el-field .el-field-content .empty{min-height:400px;}
.el-field .el-field-content .empty:before{content: "请拖动表单到此处";}
.el-field .el-field-content::-webkit-scrollbar{width:5px}
.el-field .el-field-content::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,0)}
.el-field .el-field-content:hover::-webkit-scrollbar-thumb{background-color:#ccc}
.el-field .el-field-content .el-form-draggable{position:relative;margin-bottom:22px!important}
.el-field .el-field-content .el-form-draggable .el-field-button{position:absolute;right:10px;top:0;z-index: 2}
.el-field .el-field-content .el-form-draggable .el-form-item__label{padding:0}